name: Hello world
on: 
  push:
    branches:
      - main
      - develop
      - 'release/**'
jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Build Step
        run: echo "Build Step"
  # Test:
  #   runs-on: ubuntu-latest
  #   needs: Build
  #   steps:
  #     - name: Testing
  #       run: echo "Testing thammudu"

  # Deploy:
  #   runs-on: ubuntu-latest
  #   needs: Test
  #   steps:
  #     - name: Step Deploy
  #       run: echo "dhana dhan"
